.ansible/
.coverage
.tox
.venv
venvs/**
**/.DS_Store
*.pyc
*.pyd
*.pyo
*.retry
MANIFEST
build/
dist/
extra/
tests/ansible/.*.pid
tests/image_prep/logs
docs/_build/
htmlcov/
*.egg-info
__pycache__/
extra
**/.*.pid
