cffi==1.15.1
coverage==5.5;      python_version < '3.7'
coverage==6.4.4;    python_version >= '3.7'
Django==1.11.29;    python_version < '3.0'
Django==3.2.20;     python_version >= '3.6'
mock==2.0.0
psutil==5.9.5
pytest-catchlog==1.2.2
pytest==3.1.2
subprocess32==3.5.4; python_version < '3.0'
timeoutcontext==1.2.0
# Fix InsecurePlatformWarning while creating py26 tox environment
# https://urllib3.readthedocs.io/en/latest/advanced-usage.html#ssl-warnings
urllib3[secure]==1.23; python_version < '2.7'
urllib3[secure]==1.26; python_version > '2.6' and python_version < '2.7.9'
# Last idna compatible with Python 2.6 was idna 2.7.
idna==2.7; python_version < '2.7'
virtualenv==20.10.0
